# Laravel側
/laravel-api-v2/vendor/
/laravel-api-v2/node_modules/
/laravel-api-v2/.env
/laravel-api-v2/.env.backup
/laravel-api-v2/.env.production
/laravel-api-v2/.phpactor.json
/laravel-api-v2/.phpunit.result.cache
/laravel-api-v2/Homestead.json
/laravel-api-v2/Homestead.yaml
/laravel-api-v2/npm-debug.log
/laravel-api-v2/yarn-error.log
/laravel-api-v2/auth.json
/laravel-api-v2/.fleet/
/laravel-api-v2/.idea/
/laravel-api-v2/.nova/
/laravel-api-v2/.vscode/
/laravel-api-v2/.zed/
/laravel-api-v2/public/build/
/laravel-api-v2/public/hot/
/laravel-api-v2/public/storage/
/laravel-api-v2/storage/*.key
/laravel-api-v2/storage/pail
/laravel-api-v2/.phpunit.cache

# React側
/todo-app/node_modules/
/todo-app/build/
/todo-app/dist/
/todo-app/dist-ssr/
/todo-app/*.local
/todo-app/.DS_Store
/todo-app/npm-debug.log*
/todo-app/yarn-debug.log*
/todo-app/yarn-error.log*
/todo-app/pnpm-debug.log*
/todo-app/lerna-debug.log*
/todo-app/logs
/todo-app/*.log
/todo-app/.vscode/*
!/todo-app/.vscode/extensions.json
/todo-app/.idea
/todo-app/*.suo
/todo-app/*.ntvs*
/todo-app/*.njsproj
/todo-app/*.sln
/todo-app/*.sw?
/todo-app/.env